*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
}
.centent{
	width: 900px;
	height: 200px;
	margin-left: 200px;
	margin-top: 20px;
	overflow: hidden;
	border: 1px red solid;
}
.jpgdiv{
    width: 2440px;
	height: 200px;
}

.jpgdiv ul li img{
	width: 300px;
	height: 200px;
	float: left;
	margin-left: 5px;
	white-space: nowrap;
}
ul li{
    list-style-type: none;
}
#img{
	margin-left: 260px;
	margin-top: 20px;
}
