div{
	width: 800px;
	height: 400px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-size: 800px 400px;
	padding-left: 20px;
}
textarea{
	width: 250px;
	height: 100px;
}
/*h3#xuanze,p{
	float: left;
}
img{
	clear: left;
}*/